<footer class="footer-section">

    <article class="footer-item">

        <p class="contacto-redes">CONTACTO</p>
        <div class="redes">
            <a href="https://api.whatsapp.com/send?phone=5491161520912" target="_blank"
                title="Enviar mensaje directo Whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/sapi.arte/" target="_blank"><i
                    class="fa-brands fa-instagram"></i></a>
            <a href="mailto: hola@sapiarte.com.ar" target="_blank"><i class="fa-regular fa-envelope"></i></a>
        </div>

    </article>
    <section class="footer-copyright">
        <p>Copyright © 2022 Osías</p>
    </section>


</footer>