<header>
    <div class="icono-menu">
        <i class="fa-solid fa-bars" id="icono-menu"></i>
        <!-- <i class="fa-solid fa-xmark" id="cruz"></i> -->
       
    </div>
    <section class="cont-menu active-nav" id="menu">
        <ul>
            <a href="/"><li class="menu-item">Home</li></a>
            <a href="/#collections"><li class="menu-item">Obra</li></a>
            <a href="/#espacios-vivos"><li class="menu-item">En espacios vivos</li></a>
            <a href="/#about"><li class="menu-item">Sobre mí</li></a>
            <a href="/faq"><li class="menu-item">FAQ</li></a>
            <a href=""><li class="menu-item">Contacto</li></a>
            <!-- <a href="/product/create"><li class="menu-item">Crear producto</li></a> -->

        </ul>
    </section>

    <div class="redes-div">
        <a href="https://api.whatsapp.com/send?phone=5491161520912" target="_blank"
            title="Enviar mensaje directo Whatsapp"><i class="fa-brands fa-whatsapp" id="wa-header"></i></a>
        <a href="https://www.instagram.com/sapi.arte/" target="_blank"><i class="fa-brands fa-instagram"
                id="insta-header"></i></a>
        <a href="mailto: hola@sapiarte.com.ar" target="_blank"><i class="fa-regular fa-envelope"
                id="mail-header"></i></a>
    </div>
<script src="/js/header.js"></script>
</header>