<header>
    <div class="icono-menu">
        <i class="fa-solid fa-bars" id="icono-menu"></i>
       
    </div>
    <section class="cont-menu active" id="menu">
        <ul>
            <a href="/"><li class="menu-item">Home</li></a>
            <a href=""><li class="menu-item">Colecciones</li></a>
            <a href=""><li class="menu-item">Sobre mí</li></a>
            <a href=""><li class="menu-item">Contacto</li></a>

        </ul>
    </section>

    <div class="redes-div">
        <a href="https://api.whatsapp.com/send?phone=5491161520912" target="_blank"
            title="Enviar mensaje directo Whatsapp"><i class="fa-brands fa-whatsapp" id="wa-header"></i></a>
        <a href="https://www.instagram.com/sapi.arte/" target="_blank"><i class="fa-brands fa-instagram"
                id="insta-header"></i></a>
        <a href="mailto: hola@sapiarte.com.ar" target="_blank"><i class="fa-regular fa-envelope"
                id="mail-header"></i></a>
    </div>
</header>
<script src="/js/contact.js"></script>