<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/styles/contact.css">
        <script src="https://kit.fontawesome.com/34203cb2b8.js" crossorigin="anonymous"></script>
        <title>Contact</title>
    </head>
    <body>
        <header>
            <div class="icono-menu">
                <i class="fa fa-bars" id="icono-menu"></i>
            </div>
            <section class="cont-menu active" id="menu">
                     <ul>
                <li class="menu-item">Link1</li>
                <li class="menu-item">Link2</li>
                <li class="menu-item">Link3</li>
                <li class="menu-item">Link4</li>

            </ul>
            </section>
       
        </header>
        <main class="container">
            <h1> Contact</h1>
    

            <section class="container-form">
                <h2>Contact Us</h2>
                <p>Drop us a line</p>

                <section>
                    <form>
                        <article>
                            <input type="text" class="form-name" name="name"
                                placeholder="Name">
                        </article>
                        <article>
                            <input type="email" class="form-email" name="email"
                                placeholder="Email*">
                        </article>
                        <article>
                            <textarea class="form-messege" name="message"
                                placeholder="Message"></textarea>
                        </article>
                    </section>
                    <input class="form-button" type="submit" name="submit"
                        value="SEND">
                </form>

                <section>
                    <article>
                        <p> Let's virtually meet Follow my YouTube channel</p>
                        <h3>Sapiarte</h3>
                        <p> Av. Lorem Ipsum 12345 </p>
                        <p> Argentina </p>
                        <p> (44)4444-4444/ lorem@loremipsum.com</p>
                    </article>
                    <article>
                        <p>Hours</p>
                        <p>Open Today 09:00 - 17:00</p>
                        <p>Studio visits by lorem Ipsum</p>
                    </article>
                    <article>
                        <p> copyright 2022 Sapiarte - All rights reserved</p>
                    </article>
                    <article>
                        <p>Powered by Kodos</p>
                        <p>Privacy Policy</p>
                        <p>Terms and conditions</p>

                    </article>




                </section>





            </section>

        </main>
<script src="/public/js/contact.js"></script>
    </body>
</html>