<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/galeria.css">
    <title>Document</title>
</head>

<body>
    <!-- The expanding image container -->
    <div class="container">

        <!-- Close the image -->
        <!-- <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span> -->

        <!-- Expanded image -->
       <div class="image-div">
        <img id="expandedImg" style="width: 55%" class="expanded-image">
    </div>

    </div>

    <!-- The grid: four columns -->
    <div class="row">
        <div class="column">
            <img src="/public/images/prints/buxus cuadrada in situ.png" alt="" onload="myFunction(this)"; onclick="myFunction(this)">
        </div>
        <div class="column">
            <img src="/public/images/prints/buxus cuadrada.png" alt="" onclick="myFunction(this);">
        </div>
        <div class="column">
            <img src="/public/images/prints//buxus in situ.png" alt="" onclick="myFunction(this);">
        </div>
        <div class="column">
            <img src="/public/images/prints/buxus rectangular 01.png" alt="" onclick="myFunction(this);">
        </div>
        <div class="column">
            <img src="/public/images/prints/buxus rectangular02.png" alt="" onclick="myFunction(this);">
        </div>
    </div>




    <script>
        function myFunction(imgs) {
            var expandImg = document.getElementById("expandedImg");
            expandImg.src = imgs.src;
            // expandImg.parentElement.style.display = "block";
        }
    </script>
</body>

</html>