<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs")  %> 
</head>

<body>
    <section class="hero" id="hero"> 
 
        <%- include("./partials/header.ejs")  %> 
    
    <main>
       
            <div class="box">
           
                    <img class="logo" src="/images/logo-gris.png" alt="">
       
                <!-- <h1>SAPI</h1>
                <h1>ARTE</h1> -->
                <!-- <a href="/images/catalogo.pdf" class="anchor-cfa"><button class="cfa">SHOP ONLINE</button></a> -->
            </div>

        </section>
        <h2 class="title-collections">OBRAS & PRINTS</h2>

        <section class="obras">
            <article class="half">
                <div class="text-obra">
                <h2 class="title-obras-shop">OBRAS ORIGINALES</h2>
                <a href="/obras"><button class="shop-now-button">SHOP NOW</button></a>
            </div>
            </article>
            
            <article class="half">
             
                <img  src="/images/obra-home2.jpeg" class="image-obras-home" alt="">

            </article>

        </section>

        <section class="obras">
            <article class="half">
             
                <img  src="/images/laminas.jpeg" class="image-obras-home" alt="">

            </article>

            <article class="half">
                <div class="text-obra">
                <h2 class="title-obras-shop">PRINTS</h2>
                <a href="/prints"><button class="shop-now-button">SHOP NOW</button></a>
            </div>
            </article>
            


        </section>



        

        <section class="living-image" id="espacios-vivos">
            <div class="image-overlay">
                <div class="living-box">
                    <h2 class="living-title">EN ESPACIOS VIVOS</h2>
                    <a href="/espacios"><button class="living-button">VER GALERÍA</button></a>
                </div>
            </div>

        </section>






        <section class="about" id="about">
            <div class="image-container">
                <img class="sapi" src="/images/sapi frente.jpeg" alt="">
            </div>
            <div class="about-text">
                <h2 class="about-title">SOBRE MÍ</h2>
                <h3 class="about-subtitle">SABRINA BERECIARTUA </h3>
                <p class="text">Pinto lo que soy, pinto la vida que me vive y me desborda. Y entonces pinto casi irremediablemente
                    naturaleza. En medio de la abstracción se forman hojas y flores. Son obras vivas.</p>
                <button class="btnMore">LEER MÁS</button>
                <p class="more-text1">Disfruto cuando mis cuadros pasan a ser parte de la vida cotidiana de otros,
                    siendo testigos mudos en sus paredes. Me gusta pensar que lo que decora tu casa la vuelve hogar,
                    habla de vos, de cómo sentís y de cómo sos. Pinto obras para ser vividas.</p>
                <p class="more-text2"> En algún momento estudié filosofía y fui parte del taller de arte abstracto de
                    Ana Makaji. También escribo y soy viajera de alma.</p>
                <button class="btnLess">LEER MENOS</button>

            </div>

        </section>

    </main>

<%- include("./partials/footer.ejs")  %> 




<script src="/js/index.js"></script>

</body>

</html>