<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")  %> 
</head>
<body>

    <%- include("./partials/header.ejs")  %> 
   
    <main>

        <h2 class="title-collections">VIVA</h2>
        <section class="collections">

     

        </section>
    </main>
    
    <%- include("./partials/footer.ejs")  %> 
    
</body>
</html>