.print-detail-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* border: 2px solid blue; */
  padding: 30px 50px;
  justify-content: center;
}

.image-section {
  display: flex;
  flex-direction: column;
  /* border: 2px solid yellow; */
  width: 100%;
  justify-content: center;

}

/* The grid: Four equal columns that floats next to each other */
.column {
    float:left;
    width: 20%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
  }
  
  .column img:hover {
    opacity: 1;
  }

  .row {
    width: 100%;
    /* border: 2px rebeccapurple solid; */
    align-content: center;
    align-self: center;
    /* margin-left: 20px; */
    /* padding-left: 50px; */
    /* background-color: aqua; */
  }


  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    display: flex;
    /* justify-content: flex-end; */
    /* border: 2px solid red; */
    width: 100%;
    background-color: #d4cecc;
    margin-bottom: 30px;
    max-width: 620px;
    align-self: center;

  }

  .image-div {
    height: 500px;
    /* border: 2px blue solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }


  .expanded-image {
    /* border: 2px yellow solid; */
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    width: 60%

  } 
  
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    left: 300px;
    color: transparent;
    font-size: 35px;
    cursor: pointer;
  }

  .price {
    color:#295619;
    font-weight: 400;
    font-size: 18px;
    
  }


  .prints-size {
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    margin-bottom: 25px;
    width: 100%;
    flex-grow: 4;
  } 

  .bloques {
    border: 1px solid #282936;
    padding: 7px;
    transition: 250ms ease-in-out;
  }

  .bloques:hover {
    background-color: #282936;
    color: white;
    border: white 1px solid; 
    opacity: 0.8;

  }



.medidas {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #2e2e2e;

}

.info {
  margin-top: 30px;
  font-size: 14px;
  color:rgb(66, 66, 66)
}




  @media (min-width: 768px) {
  
    .print-detail-container {
      flex-wrap: nowrap;
  }

    .image-section {
      width: 60%;
    }

    .expanded-image {
      width: 60%;
      max-width: 600px;
    }

    .prints-size {
      width: 60%;
    }

    .bloques {
      padding: 10px;
    }

    /* .column {
      width: 25%;
    } */

  }


    @media (min-width: 992px) {

      .image-section {
        width: 40%;
      }


    .column {
      width: 15%;

    }
  
  }