* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

@font-face {
    font-family: "Ash";
    src: url("../fonts/ash.otf");
}



.hero {
    background-image: url("/images/ambar.jpg");
    background-repeat: no-repeat;
    height: 95vh;
    background-size: cover;
    background-position: center right;
    display: flex;
    /* border: 3px solid greenyellow; */
}


header {
    display: flex;
    /* border: 2px solid salmon; */
    justify-content: space-between;
    width: 100%;
    height: 15vh;
}


.icono-menu {
    padding: 20px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    /* border: solid 3px blue; */
    /* width: 20%; */
}


.fa-bars {
    color: #3c3c3c;
    font-size: 30px;
}

/* .fa-xmark {
    color: #4a4a4a;
    font-size: 30px;
    display: none;
} */


.redes-div {
    padding: 25px;
    /* border: 3px solid red; */

}


.color-menu {
    color: whitesmoke;

}

.cont-menu {
    /* background-color: #a36a65; */
    /* background-color: #c8a259; */
    /* background-color: #d4cecc; */
    background-color: rgb(106, 98, 98);
    width: 50%;
    height: 100vh;
    position: absolute;
    /* position: fixed; */
    top: 0;
    left: 0;
    transition: all .2s ease;
    z-index: 5;


}

/*ESTILOS para agregar con JAVASCRIPT*/
.active-nav {
    transform: translate(-60vw);
    box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);

}

.opacity{
    transition: all .5s ease;
    /* position: fixed; */
    overflow: hidden;
}



.cont-menu ul {
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li {
    color: whitesmoke;
    display: block;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 30px;
    cursor: pointer;
}


.cont-menu ul li:hover {
    background-color: rgb(228, 228, 228);
    color: rgb(42, 42, 42);
}


#insta-header,
#wa-header {
    margin-right: 20px;
}

#insta-header,
#wa-header,
#mail-header {
    font-size: 30px;
    color: #3c3c3c;
    font-weight: 300;

}

.box {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: rgb(227, 227, 227);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 40px;
    justify-content: center;
    left: 50%;
    letter-spacing: 12px;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* z-index: 5; */

}
/* .logo-container {
    border: 2px solid green;
}

.logo-container img {
    width: 50%;
    text-align: center;
    border: 2px solid red;
    text-align: center;
} */

.logo {
    width: 70%;
    /* border: 2px solid blue; */
    align-self: center;
}

h1 {
    font-family: "ash";
    text-align: center;
    /* font-weight: 300; */
}

.heart {
    text-align: center;
}

.anchor-cfa {
    margin-left: auto;
    margin-right: auto;

}

.cfa {

    background: transparent;
    border: 1px rgb(227, 227, 227) solid;
    color: rgb(227, 227, 227);
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    padding: 16px 32px;
    text-align: center;
    transition: 250ms ease-in-out;
    width: 100%;
    width: 228px;
}

.cfa:hover {
    background: rgba(0, 0, 0, 0.2);
}


.title-collections {
    color: #4D5157;
    margin-top: 120px;
    margin-bottom: 70px;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
}

.volver {
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
}

.volver > a {
    color: #888888;
    font-size: 14px;
    text-decoration: underline;

}

.volver > a:hover {
    color: rgb(2, 2, 91);
}

.collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collection-item {
    /* border: 2px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    padding: 16px;
    width: 100%;
}

.collection-item-sakura {
    /* border: 2px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    padding: 16px;
    width: 70%;
}

.item-anchor {
    /* background-color: #e3dfdf; */
    background-color: #d4cecc;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    padding: 30px;
    text-align: center;
    width: 65%;
  
}

.item-anchor-sakura {
    /* background-color: #e3dfdf; */
    background-color: #d4cecc;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    padding: 30px;
    text-align: center;
    width: 500px;
    height: 600px;
}


.collection-item img {
    /* padding: 60px 40px; */
    /* border: red solid 2px; */
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all ease-in-out 250ms;
    width: 80%;
}

.collection-item-sakura img {
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all ease-in-out 250ms;

}

.collection-item img:hover, .collection-item-sakura img:hover {
    transform: scale(1.10);
    box-shadow: 14px 14px 28px rgba(0, 0, 0, 0.25), 10px 10px 10px rgba(0, 0, 0, 0.22);
}



.title-anchor {
    width: 100%;
}

.item-title {
    color: #4D5157;
    text-align: center;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.living-image {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-image: url("/images/living.jpeg");
    margin-top: 120px;
    /* opacity: 0.9; */
}

.image-overlay {
    width: 100%;
    height: 80vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;

}

/* .image-overlay:hover{
    opacity: 0.3;
} */

.living-box {
    /* border: white 2px solid; */
    padding: 40px;
    text-align: center;
}

.living-title {
    font-weight: 400;
}

.living-button {
    margin-top: 30px;
    padding: 12px 28px;
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    cursor: pointer;
}

.living-button:hover {
    background: rgba(0, 0, 0, 0.3);
}



.about {
    background-color: #d4cecc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 150px 0;
    border-radius: 5px;
    padding: 20px 0;
    /* border: 2px solid yellow; */
}



.about-text {
    color: #4D5157;
    /* color: #54585e; */
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    /* border: 2px solid blue; */

}


.about-title,
.about-subtitle {
    font-weight: 400;
}

.image-container {
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
    width: 90%;
}

.sapi {
    border-radius: 5px;
    width: 90%;
}


  .about-text .about-title, .about-subtitle, .text, .more-text1, .more-text2{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid salmon; */
}

.about-text>h2 {
    margin-bottom: 5px;
}

.about-text p {
    margin-top: 10px;
    line-height: 28px;
}

.about-text>button {
    cursor: pointer;
    margin: 20px auto;
    padding: 14px 28px;
    background-color: transparent;
    border: #4D5157 1px solid;
    transition: 250ms ease-in-out;

}

.about-text>button:hover {
    background-color: rgb(28, 28, 28);
    color: whitesmoke;
    border: none;
}

.more-text1,
.more-text2 {
    display: none;
}

.btnLess {
    display: none;
}

/* Footer */

.footer-section {
    background-color: rgb(40, 37, 37);
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.footer-item {
    color: var(--main-dark-gray);
    padding: 35px 45px 20px;
    text-align: center;
    width: 100%;
}



.contacto-redes {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.fa-envelope {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;


}

.fa-instagram,
.fa-whatsapp {
    font-size: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;

}

.fa-envelope:hover,
.fa-instagram:hover,
.fa-whatsapp:hover {
    color: rgb(163, 163, 163);
}


.footer-copyright>p {
    font-size: 12px;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    text-align: left;
    width: 100%;
}


/* Páginas de cada colección */

.title-collections-page {
    color: #4D5157;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
}


.item-text {
    color: #4D5157;
    font-size: 13px;
    text-align: center;
    width: 100%;
}


/* Formularios */

.form-title {

    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
}

.form-container {
    width: 85%;
    /* border: 3px solid salmon; */
    margin-bottom: 100px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background-color: #d4cecc;
    border-radius: 10px;
    color: #4D5157
}



.form-container input,
.form-container label,
.form-container select,
.form-container textarea {
    width: 70%;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.form-container label {
    margin-bottom: 3px;

}


.form-container input,
.form-container select,
.form-container textarea {
    border-radius: 5px;
    border: #d4cecc 1px solid;
    margin-bottom: 25px;
    padding: 5px;
}



.form-buttton {
    display: block;
    margin: 25px auto;
    padding: 10px 25px;
    border: none;
    background-color: #4a4a4a;
    color: whitesmoke;
}

.form-buttton:hover {
    background-color: #2e2e2e;
}

.detail-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* border: 2px solid salmon; */
    padding: 20px;
    justify-content: center;
}

.image-detail {
    width: 100%;
    max-width: 500px;
    /* border: 2px solid green; */

}

.title-detail {
    margin-bottom: 15px;
}

.detail-info {
    margin-top: 30px;

    /* border: 3px solid orange; */
}

.detail-text {
    text-align: left;

}

.detail-button {
    display: flex;
    justify-content: center;
}

.originales {
    margin-top: 20px;
    font-style: italic;
    font-size: 14px;
    color:rgb(66, 66, 66)
}

.buy {
    background-color: rgb(43, 42, 42);
    border: none;
    color: whitesmoke;
    margin-top: 20px;
    padding: 10px 55px;
    cursor: pointer;
   
}

.buy:hover {
    background-color: whitesmoke;
    border: 1px solid black;
    color: black;
}



@media (min-width: 768px) {


    .logo {
        width: 50%;
    }

    .cont-menu {
        width: 25%;
    }

    .collection-item {
        width: 45%;
    }

    .item-anchor {
        width: 500px;
        height: 300px;
        
    }

    .collection-item img {
        width: 60%;
    }

    .form-container {
        width: 70%;
        max-width: 590px;
    }

    .detail-container {
        flex-wrap: nowrap;
    }

   .image-detail  {
    margin-left: 40px;
    margin-right: 40px;
    width: 90%;
   }

    .detail-info {
        margin-left: 100px;
        width: 50%;

    }

    .detail-button {
        justify-content: flex-start;
    }






}

@media (min-width: 992px) {

    /* .logo {
        width: 40%;
    } */

    .item-anchor {
        width: 500px;
        height: 450px;
        
    }

    .collection-item img {
        width: 70%;
    }
    .box {
        max-width: 400px;
        /* padding: 60px; */
    }

    /* .about-text > h2, h3, p {
        width: 60%;
    } */

    .sapi {
        width: 100%;
    }

    .about {
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 0;
    }

    .about-text {
        width: 70%;
        /* border: 2px solid yellow; */
        padding-top: 100px;
    }

    .about-text .about-title, .about-subtitle, .text, .more-text1, .more-text2 {
        width: 70%;
    }

    .image-container {
        width: 40%;
        margin-left: 50px;
    }

    .form-container {
        width: 50%;
        max-width: 590px;
    }

}

@media (min-width: 1280px) {



    .box {
        max-width: 450px;
        /* padding: 60px; */
    }

    .collection-item img {
        width: 60%;
    }

    .about-text {
        margin-top: 0px;

    }



}