
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
 
}

@font-face {
    font-family: "Ash";
    src: url("../fonts/ash.otf");
  }



  .hero {
    background-image: url("/images/ambar.jpg");
    background-repeat: no-repeat;
    height: 95vh;
    background-size: cover;
    background-position: center right;
    /* border: 3px solid greenyellow; */
}


header {
    display: flex;
    /* border: 2px solid salmon; */
    justify-content: space-between;
    width: 100%;
    height: 15vh;
}


.icono-menu {
    padding: 20px;
    cursor: pointer;  
    position: relative;
    z-index: 10;
    /* border: solid 3px blue; */
    /* width: 20%; */
}

.fa-bars {
    color: #4a4a4a;
    font-size: 30px;
}


.redes-div {
    padding: 25px;
    /* border: 3px solid red; */

}


.color-menu{
    color:whitesmoke;
}

.cont-menu{
    background-color: rgb(42,42,42);
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease;
    z-index: 5;
 

}
/*ESTILOS para agregar con JAVASCRIPT*/
.active{
    transform: translate(-60vw);
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    
}
.opacity{
    background-color:rgba(0,0,0,0.5);
    transition: all .5s ease;
}



.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style:none;
}

.cont-menu ul li{
    color: whitesmoke;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}


.cont-menu ul li:hover{
    background-color:rgb(228,228,228);
    color:rgb(42,42,42);
}


#insta-header, #wa-header {
    margin-right: 20px;
}

#insta-header, #wa-header, #mail-header {
    font-size: 30px;
    color: #4a4a4a;
    font-weight: 300;
 
}

.box {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: rgb(227, 227, 227);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 40px;
    justify-content: center;
    left: 50%;
    letter-spacing: 12px;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* z-index: 5; */
}

h1 {
    font-family: "ash";
}

.cfa {
    background: transparent;
    border: 1px rgb(227, 227, 227) solid;
    color:rgb(227, 227, 227);
    cursor: pointer;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 16px 32px;
    text-align: center;
    transition: 250ms ease-in-out;
    width: 100%;
    width: 228px;
}

.cfa:hover {
      background: rgba(0, 0, 0, 0.2);
}


.title-collections {
    color: #4D5157;
    margin-top: 120px;
    margin-bottom: 70px;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
}

.collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collection-item {
    /* border: 2px solid yellow; */
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    justify-content: center;
}

.item-anchor {
    padding-top: 40px;
    padding-bottom: 40px;
    /* border: 2px solid green; */
    text-align: center;
    background-color: #d4cecc;
     /* background-color: #e3dfdf; */
    margin-bottom: 20px;
    width: 80%;
 
}


.collection-item img {
    width: 70%;
    /* border: red solid 2px; */
    /* padding: 60px 40px; */
    box-shadow: 5px 5px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all ease-in-out 250ms;
}

.collection-item img:hover {
    transform: scale(1.10);
    box-shadow: 14px 14px 28px rgba(0,0,0,0.25), 10px 10px 10px rgba(0,0,0,0.22);
}

.title-anchor {
    width: 100%;
}

.item-title {
    color: #4D5157;
    text-align: center;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.living-image {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-image: url("/images/living.jpeg");
    margin-top: 120px;
    /* opacity: 0.9; */
}

.image-overlay {
    width: 100%;
    height: 80vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;

}

/* .image-overlay:hover{
    opacity: 0.3;
} */

.living-box {
    /* border: white 2px solid; */
    padding: 40px;
    text-align: center;
}

.living-title {
    font-weight: 400;
}

.living-button {
    margin-top: 30px;
    padding: 12px 28px;
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    cursor: pointer;
}

.living-button:hover {
    background: rgba(0, 0, 0, 0.3);
}



.about {
    background-color:#d4cecc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 150px 0;
    border-radius: 5px;
    padding: 20px 0;
    /* border: 2px solid yellow; */
}



.about-text {
    color: #4D5157;
    /* color: #54585e; */
    display: flex;
    flex-direction: column;  
    margin-top: 40px;
    /* border: 2px solid blue; */

}


.about-title, .about-subtitle {
    font-weight: 400;
}

.image-container{
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
    width: 90%;
}

.sapi {
    width: 90%;
}


.about-text > h2, h3, p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid salmon; */
}

.about-text > h2 {
    margin-bottom: 5px;
}

.about-text > p {
    margin-top: 10px;
    line-height: 28px;
}

.about-text > button {
    cursor: pointer;
    margin: 20px auto;
    padding: 14px 28px;
    background-color: transparent;
    border: #4D5157 1px solid;
    transition: 250ms ease-in-out;

}

.about-text > button:hover {
    background-color: rgb(28, 28, 28);
    color: whitesmoke;
    border: none;
}

.more-text1, .more-text2 {
    display: none;
}

.btnLess {
    display: none;
}

/* Footer */

.footer-section {
    background-color: rgb(40, 37, 37);
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.footer-item {
    color: var(--main-dark-gray);
    padding: 35px 45px 20px;
    text-align: center;
    width: 100%;
}



.contacto-redes {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.fa-envelope {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;


}

.fa-instagram, .fa-whatsapp {
    font-size: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;

}

.fa-envelope:hover, .fa-instagram:hover, .fa-whatsapp:hover {
    color: rgb(163, 163, 163);
}


.footer-copyright>p {
    font-size: 12px;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    text-align: left;
    width: 100%;
}

@media (min-width: 768px) {

    .cont-menu {
        width: 25%;
    }
    
    .collection-item {
        width: 40%;
    }

    .item-anchor {
        width: 80%;
    }

    .collection-item img {
        width: 50%;
    }
    
    



    

}

@media (min-width: 992px) {
    .box {
        padding: 60px;
    }

    /* .about-text > h2, h3, p {
        width: 60%;
    } */

    .sapi {
        width: 100%;
    }

    .about {
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 0;
    }

    .about-text {
        width: 70%;
        /* border: 2px solid yellow; */
        padding-top: 100px;
    }

    .about-text > h2, h3, p {
        width: 70%;
    }

    .image-container {
        width: 40%;
    }
    
}

@media (min-width: 1280px) {

    .about-text {
        margin-top: 0px;
      
    }


}